
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  body {
    font-family: 'Arial, sans-serif';
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    scroll-behavior: smooth;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  nav .logo {
    font-size: 1.5rem;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  nav a:hover {
    color: #ffa500;
  }
  
  .menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
  
  #hero {
    height: 100vh;
    background-color:beige  no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0f0e0e;
  }
  
  #hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  #hero p {
    font-size: 1.5rem;
  }
  
  section {
    padding: 4rem 1rem;
    text-align: center;
  }
  
  #about .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  #about img {
    border-radius: 50%;
    margin-right: 2rem;
    width: 150px;
    height: 150px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  
  .grid-item {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .grid-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill {
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s;
  }
  
  .skill:hover {
    background: #ffa500;
  }
  
 
  
  footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    nav ul {
      display: none;
      flex-direction: column;
      background: #333;
      position: absolute;
      top: 100%;
      right: 0;
      width: 200px;
      text-align: right;
    }
  
    nav ul li {
      margin: 0;
    }
  
    nav ul li a {
      padding: 1rem;
      display: block;
    }
  
    .menu-toggle {
      display: block;
    }
  }
  
  @media (max-width: 480px) {
    #about img {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  
    nav ul {
      width: 100%;
    }
  }
  